<app-header [name]="'CineMagic'"></app-header>

<ion-content [fullscreen]="true" id="main-content">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit provident ab culpa qui beatae nemo ratione sint maiores, dolorum laboriosam, laudantium nulla quasi excepturi, commodi nam voluptatem consequuntur voluptas magni?
    Velit, id officia odio, impedit odit similique perspiciatis aut voluptate molestiae amet, veniam repudiandae eius consequuntur nulla facilis explicabo nostrum culpa rerum veritatis temporibus architecto nemo ut nesciunt. Quia, eos.
    Nostrum, velit alias vero rerum quisquam neque explicabo veniam in illum quidem obcaecati voluptate mollitia sit quis perspiciatis, ab omnis cumque? Magni reiciendis asperiores consequuntur vero non sint recusandae sed.
  </p>
</ion-content>
