<ion-header>
  <ion-menu-toggle>
    <ion-icon  class="icono-menu"  name="reorder-three-outline"></ion-icon> 
  </ion-menu-toggle>
  <ion-title>
      {{name}}
    </ion-title>
  <ion-icon class="logo" name="film-outline"></ion-icon>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a (click)="showLoading('/home')" routerLink="/"><ion-icon class="icon-home" name="home-outline"></ion-icon><ion-label>Principal</ion-label></a> <br>
    <a  class="actived" (click)="showLoading('/sobre-mi')"><ion-icon class="icon-sobre_mi" name="person-outline"></ion-icon><ion-label >Desarrollador</ion-label></a>
  </ion-content>
</ion-menu>
