ion-header {
    position: sticky;
    top: 25;
    z-index: 9999;
}

.icono-menu{
    border: rgb(255, 0, 255) 2px solid;
}


ion-icon{
    height: 30px;
    width: 30px;
}

.logo{
    position: relative;
    left: 210px;
    top: 2px;
}
