ion-header {
    position: sticky;
    top: 25;
    z-index: 9999;
}

.title-menu{
    position: relative;
    top: 25px;
}


ion-icon{
    height: 30px;
    width: 30px;
}


.logo{
    position: relative;
    left: 210px;
    top: 2px;
}

a{
    text-decoration: none;
    color: #000;
}

ion-label{
    margin: -5px 5px;
    font-size: 20px;
}

.icon-home,.icon-sobre_mi{
    position: relative;
    top: 4px;
}

.actived{
    position: relative;
    top: 15px;
}

ion-loading.custom-loading {
    --background: #000000;
    --spinner-color: #1c6dff;
    color: #1c6dff;
}

ion-loading{
    opacity: 1;
    z-index: 8000;
}