ion-header {
    position: sticky;
    top: 25;
    z-index: 9999;
}

.title-menu{
    position: relative;
    top: 15px;
}


ion-icon{
    height: 30px;
    width: 30px;
}


.logo{
    position: relative;
    left: 210px;
    top: 2px;
}
