<ion-content [fullscreen]="true">
  <div class="login-dark">
    <form (ngSubmit)="Login(LoginForm.value)" [formGroup]="LoginForm">
        <h2 class="sr-only">Ingresar</h2>
        <div class="form-group"><input formControlName="user" class="form-control" type="email" placeholder="Usuario"></div>
        <div class="form-group"><input formControlName="password" class="form-control" type="password"  placeholder="Contraseña"></div>
        <div class="form-group"><button class="btn btn-primary btn-block">Enviar</button></div>
        <br>
        <a href="#" class="forgot">No Tienes una Cuenta?</a>
      </form>
  </div>
</ion-content>

