.ion{
  position: relative;
  left: 113px;
  top: 280px;
  width: 40px;
  height: 40px;
}

.megaphone{
  height: 16px;
  width: 16px;
  color: red;
}

.content_date{
  position: relative;
  left: 30px;
}

span{
  font-size: 12px;
}

.img-card{
  height: 300px;
  width: 240px;
  
}

ion-card-title{
  font-size: 15px;
  white-space: pre-wrap;
}

ion-card-content{
  font-size: 15px;
}

.fila1{
  width: 400px;
  position: relative;
  left: -20px;
}

.categorias{
  position: relative;
  left: 20px;
}

.elementos-categorias{
  border-bottom: rgb(51, 255, 0) 2px solid;
}

ion-chip:active{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.ciencia-ficcion{
  width: 38px;
  height: 38px;
}

.details-img{
  margin-left: 7px;
}

.text-sipnosis{
  position: relative;
  left: 145px;
  top: 3px;
  font-weight: 900;
}

.text-lenguajes{
  position: relative;
  left: 145px;
  font-weight: 900;
  top: 8px;
}

.text-generos{
  position: relative;
  left: 145px;
  font-weight: 900;
  top: 8px;
}

.text-title{
  font-weight: 600;
  font-size: 15px;
}

.text-fotogramas{
  position: relative;
  left: 140px;
  font-weight: 600;
  font-size: 15px;
}

.separador{
  background-color: #000;
  height: 2px;
  width: max-content;
}

ion-badge{
  margin-left: 4px;
}

.badge-generos{
  background-color: #cd3260;
  color: #fff;
}

ion-content{
  height: 650px;
}

.columna{
  margin: -20px -10px;
  position: relative;
  left: 30px;
}

.fila-botones{
  margin-left: 60px;
}